@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('../../static/fonts/NotoSansJP-Regular.woff2') format('woff2'),
    url('../../static/fonts/NotoSansJP-Regular.woff') format('woff');
}

html {
}

body {
}

a {
}

[x-cloak] {
  display: none !important;
}
